.grey-input {
  width: 100%;
  padding: 0.5em 0.6em;
  box-sizing: border-box;
  color: #9b9ea1;
  border: 1px solid #babfc4;
  border-radius: 3px;
  font-size: 13px;
  outline: none;

  &:focus {
    border-color: #6abbf9;
    box-shadow: 0 0 0 4px #d3e5f3;
  }
}