footer {
   width: 100%;
   background-color: #232629;
   font-size: 13px;
   padding: 40px 0;

   h4 {
      margin: 0 0 20px;
      color: #687079;
      text-transform: uppercase;
      line-height: 17px;
   }

   li, a, p {
      color: #818a93;
   }

   p {
      color: rgb(106, 115, 124);
   }

   a:hover {
      color: #9ea5ac;
   }
}

.footer-container {
   max-width: 1250px;
   min-width: 850px;
   display: grid;
   grid-template-columns: 925px 325px;
   margin: auto;

   nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
         a {
            padding: 4px 0;
            display: inline-block;
         }
      }
   }

   .stack-exchange-network {

      li a {
         padding-right: 17px;
         position: relative;

         &::before {
            position: absolute;
            content: "";
            top: 6px;
            right: 0;
            width: 12px;
            height: 12px;
            margin-left: 5px;
            border-radius: 3px;
            color: #232629;
            background-color: rgba(129, 138, 147, 0.5);
         }

         &::after {
            position: absolute;
            content: "";
            top: 10px;
            right: 5px;
            width: 3px;
            height: 3px;
            margin-left: 5px;
            border-top: 1px solid #232629;
            border-right: 1px solid #232629;
            transform: rotate(45deg);
         }

         &:hover::before {
            background-color: rgba(129, 138, 147, 1);
         }
      }
   }

   .footer-right-end {
      width: 315px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 11px;

      .footer-social-links {
         display: flex;
         flex-direction: row;

         li {
            padding: 5px 0;
            margin-right: 12px;
         }
      }
   }
}
