header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 3px solid #f48225;
  background-color: #f8f9f9;
  box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 1px 5px hsla(0, 0%, 0%, 0.05), 0 1px 5px hsla(0, 0%, 0%, 0.05);
  z-index: 10;

  .burger-nav {
    display: none;
  }

  .header-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 10px;
    min-width: 850px;
    max-width: 1250px;
    height: 47px;
    margin: auto;
    align-items: center;

    .main-logo-img {
      display: flex;
      flex-direction: row;
      height: 47px;
      // width: 150px;
      padding: 0 8px 0 0;

      .burger-nav {
        display: flex;
        height: 100%;
        width: 45px;
        padding: 0;
        align-items: center;
        font-size: 0;
        z-index: 100;

        &:hover {
          background-color: #e3e6e8;
        }
      }

      .logo-img {
        display: flex;
        padding: 0 8px;
        width: 150px;
        height: 100%;
        align-items: center;
        font-size: 0;

        &:hover {
          background-color: #e3e6e8;
        }

        span {
          display: inline-block;
          width: 150px;
          height: 38px;
          background-image: url("../assets/sprites.svg");
          background-position: 0 -5px;
          background-size: cover;
        }
      }
    }

    form {
      position: relative;

      input {
        padding: 0.5em 0.6em 0.5em 32px;
      }

      .input-icon-search {
        position: absolute;
        left: 7px;
        top: 7px;
        fill: #b7bec4;
      }
    }

    .header-buttons,
    .info-buttons,
    .login-links {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0;
      padding: 0;

      .info-buttons li {
        display: flex;
        height: 47px;
        align-items: center;

        button {
          cursor: pointer;
          height: 100%;
          width: 40px;
          font-size: 0;

          svg {
            margin: -4px 0;
            fill: #838c95;
          }

          &:hover svg {
            fill: #3b4045;
          }
        }

        button:hover {
          background-color: #e2e4e6;
        }

        .active-drop {
          background-color: #d6d9dc;

          svg {
            fill: #3b4045;
          }
        }
      }
    }

    .login-links {
      li a {
        padding: 8px 10px;
        margin: 2px;
        font-size: 13px;
        border: solid 1px;
        border-radius: 3px;
      }

      li:first-of-type a {
        color: #437aa2;
        background-color: #e1ecf4;
        border-color: #7aa7c7;
        box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, 0.7);

        &:hover {
          color: #345f7c;
          background-color: #b3d3ea;
        }

        &:active {
          background-color: #a0c8e4;
        }
      }

      li:last-of-type a {
        margin-right: 10px;
      }
    }
  }
}

.info-button-dropdown {
  position: relative;

  .info-container {
    display: none;
  }
}

.info-button-dropdown {
  .info-container.open {
    display: block;
    position: absolute;
    width: 275px;
    top: 47px;
    right: 0;
    padding-bottom: 10px;
    background-color: white;
    text-align: center;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 1px 5px hsla(0, 0%, 0%, 0.05), 0 1px 5px hsla(0, 0%, 0%, 0.05);
  }
}

.info-logout-user {
  h3 {
    margin: 0;
    padding: 10px;
    text-align: left;
    background-color: rgb(241, 242, 243);
    color: rgb(106, 115, 124);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
  }

  div {
    padding: 10px;

    & > a {
      display: inline-block;
      padding: 10px;
    }

    p {
      margin: 10px 10px 15px;
      color: rgb(59, 64, 69);
      text-align: left;
      font-size: 12px;

      a {
        color: #137ecf;

        &:hover {
          color: #2ea4ff;
        }
      }
    }

    p:last-of-type {
      margin: 15px 10px;
      font-size: 19px;
    }
  }
}

.info-button-dropdown {
  .info-container.info-help {
    width: 215px;
    padding-bottom: 0;

    .info-list {
      margin: 0;
      padding: 0;

      .info-item {
        height: 100%;
        border-bottom: 1px solid rgb(227, 230, 232);

        &:hover {
          background-color: rgb(227, 230, 232);
        }
      }

      a {
        padding: 8px;
      }

      a {
        color: #137ecf;

        &:hover {
          color: #2ea4ff;
        }
      }
    }

    p,
    h4 {
      text-align: left;
      margin: 0;
      padding: 0;
      font-size: 12px;
    }

    h4 {
      font-weight: normal;
      margin-bottom: 8px;
      color: #2ea4ff;

      &:hover {
        color: #137ecf;
      }
    }

    p {
      color: rgb(59, 64, 69);
    }
  }
}
