header {
  .user-header-container {
    display: grid;
    grid-template-columns: auto auto 1fr auto;

    .main-logo-img {
      padding: 0;
    }
  }
}

.products {
  position: relative;
  font-size: 13px;

  button {
    color: rgba(12, 13, 14, 0.65);
    display: inline;
    padding: 9px 16px;
    border-radius: 20px;
    cursor: pointer;

    &.active-drop {
      color: white;
      background-color: rgb(244, 130, 37);

      &:hover {
        color: white;
        background-color: rgb(244, 130, 37);
      }
    }

    &:hover {
      color: rgba(12, 13, 14, 0.9);
      background-color: rgb(227, 230, 232);
    }
  }

  & > li .info-container {
    position: absolute;
    padding: 0 !important;
    top: 41px !important;
    left: -75px;
    width: 225px !important;
    border-radius: 5px;
    border: 1px solid rgb(248, 249, 249);
    box-shadow: 0 0 8px 3px rgba(34, 60, 80, 0.2) !important;

    li {
      margin: 6px;

      a {
        display: block;
        padding: 6px;
        text-align: left;

        &:hover {
          border-radius: 3px;
          background-color: rgb(214, 217, 220);
        }
      }

      h4,
      p {
        margin: 0;
      }

      h4 {
        color: rgb(12, 13, 14);
        font-weight: normal;
      }

      p {
        color: rgb(106, 115, 124);
      }
    }
    .about-company {
      margin: 0;
      padding: 6px;
      background-color: rgb(248, 249, 249);

      a:hover {
        background-color: inherit;

        p {
          color: rgba(12, 13, 14, 0.9);
        }
      }
    }
  }

  .link-about-company {
    text-align: left;
    margin: 6px;

    a {
      padding: 6px;
    }
  }
}

#avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  padding: 0 10px;
  height: 47px;

  &:hover {
    background-color: #e2e4e6;
  }

  p {
    color: black;
    margin-left: 7px;
    align-self: center;
  }
  img {
    width: 30px;
    height: 30px;
  }
}

.info-button-dropdown .info-container.info-login-user {
  width: 350px;
  min-height: 300px;

  ul li {
    display: block;
    height: 100%;
  }

  h3,
  h4,
  p {
    margin: 0;
    text-align: left;
  }

  a {
    color: rgb(0, 116, 204);
    &:hover {
      color: rgb(10, 149, 255);
    }
  }

  h3 {
    padding: 10px;
    background-color: rgb(241, 242, 243);
    color: rgb(106, 115, 124);
    font-size: 13px;

    time {
      font-weight: normal;
      color: rgb(145, 153, 161);
    }

    span {
      float: right;
      a {
        display: inline-block;
        font-weight: normal;
      }
    }
  }

  ul li {
    position: relative;
    font-size: 12px;
    a {
      padding: 12px 12px 12px 35px;
      display: block;

      &:hover {
        background-color: rgb(227, 230, 232);
      }
    }
    h4 {
      margin: 0 0 10px;
      font-weight: normal;
      color: rgb(131, 140, 149);

      span {
        float: right;
      }
    }
    &:last-of-type a {
      padding: 10px;
      border-top: 1px solid rgba(227, 230, 232, 0.5);

      p {
        text-align: center;
      }
    }

    svg {
      position: absolute;
      top: 5px;
      left: 10px;
      color: #000;
    }
  }

  & > p {
    margin: 5px;
    padding: 5px;
    color: rgb(59, 64, 69);
    font-size: 12px;
  }
}
