.main-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  //max-height: 100vh;
  min-height: 100%;
  //padding: 24px;
  background-color: #f1f2f3;
  font-size: 13px;
  margin-top: 50px;

  a {
    color: #137ecf;
  }

  .main-login-container {
    width: 315px;
    margin: auto;

    .link-to-main-page {
      width: 32px;
      height: 37px;
      margin: auto;
      font-size: 0;
    }

    .login-with-social {
      margin: 21px auto 16px;

      li {
        svg {
          margin: -4px 0;
          fill: white;
        }

        a {
          display: block;
          padding: 10px;
          margin: 10px 0;
          text-align: center;
          border: 1px solid #d6d9dc;
          border-radius: 5px;

          &:hover {
            background-color: #f0f8ff;
          }

          &:active {
            border-color: #6abbf9;
            box-shadow: 0 0 0 4px #d3e5f3;
          }
        }

        &:first-child a {
          color: #464b4f;
          background-color: white;

          &:hover {
            background-color: #f8f9f9;
          }
        }

        &:nth-child(2) a {
          color: white;
          background-color: #232629;

          &:hover {
            background-color: #232629;
          }
        }

        &:nth-child(3) a {
          color: white;
          background-color: #385499;

          &:hover {
            background-color: #314a86;
          }
        }
      }
    }

    form {
      width: 100%;
      margin: 16px auto 24px;
      padding: 24px;
      box-sizing: border-box;
      border-radius: 7px;
      background-color: white;
      box-shadow: 0 10px 25px rgba(0,0,0,0.05),0 20px 48px rgba(0,0,0,0.05),
      0 1px 4px rgba(0,0,0,0.1);

      .input-container {
        margin: 6px 0;

        input {
          color: black;
        }

        label, a{
          display: inline-block;
          padding: 0 2px;
          margin: 5px 0;
          cursor: pointer;
          font-weight: bold;
          font-size: 15px;
        }

        a {
          float: right;
          font-weight: normal;
          font-size: 13px;

          &:hover {
            color: #2ea4ff;
          }
        }
      }

      button[type="submit"] {
        width: 100%;
        margin: 12px 0 0;
        padding: 10px 0;
      }
    }

    p {
      padding: 16px;
      margin: 0 0 24px;
      text-align: center;

      a:hover {
        color: #2ea4ff;
      }
    }
  }
}

.main-logo-img {

  .side-nav {
    position: absolute;
    width: 250px;
    top: 47px;
    padding: 20px 0;
    background-color: white;
    z-index: -10;
    box-shadow: 0 1px 4px hsla(0, 0%, 0%, 0.05), 0 1px 5px hsla(0, 0%, 0%, 0.05),
    0 1px 5px hsla(0, 0%, 0%, 0.05);

    &.hidden-nav {
      display: none;
    }
  }
}