@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "src/components/header/header";
@import "src/components/header/headerUser";
@import "src/scss/elements/footer";
@import "src/components/login/login";
@import "src/components/registration/registration";
@import "src/scss/elements/index";
@import "src/scss/common/Buttons";
@import "src/scss/common/greyInput";
@import "src/scss/common/burger";
@import "src/scss/common/customCheckbox";

body {
   background-color: #ffffff;
   width: 100%;
   height: 100vh;
   font-family: "Roboto", sans-serif;
}

ul {
   padding: 0;
   margin: 0;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

button {
   background: transparent;
   border: none;
}
